h1 {
  color: #9F2C15;
  font-size: 30px;
  font-family: 'HarmonyOS Sans SC Medium';
  font-weight: 700;
  background-image: url(../res/logo.png);
  background-repeat: no-repeat;
  background-position: 20px 5px;
  text-indent: 2em;
  display: inline-block;
}

.nav {
  height: 41px;
  border-top: 3px solid #9F2C15;
  border-bottom: 1px solid #edeef0;
  background-color: #fcfcfc;
  line-height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  width: auto;
  user-select: none;
    -ms-user-select: none;
}
.upper {
  overflow-x: auto;
  position: sticky;
  top:0;
  z-index:100;
  background:#fff;
  overflow: hidden;
}
.nav a.active {
  background-color: #9F2C15; /* 设置背景颜色为红色 */
  color: #fff; /* 设置文本颜色为白色 */
}
.nav a {
  display: inline-block;
  padding: 0 20px;
  font-size: 12px;
  font-family: 'HarmonyOS Sans SC Medium';
  color: #4c4c4c;
  text-decoration: none;
  margin:0 45px;
}
@media (max-width: 1050px) {
  .nav {
    justify-content: flex-start;
  }
}

.nav a:hover {
  color: #9F2C15;
  background-color: #e0c2c2;
}

.logo {
  height: 70px;
  background-color: #fcfcfc;
  display: flex;
  align-items: center;
  width: auto;
  user-select: none;
    -ms-user-select: none;
}

.logo a {
  display: inline-block;
  padding: 0 5px;
  font-size: 12px;
  font-family: 'HarmonyOS Sans SC Medium';
  color: #4c4c4c;
  text-decoration: none;
}

.logo a:hover {
  color: #9F2C15;
  background-color: #c4c1c1;
}

.logo span {
  flex-grow: 1;
}

.login-btn,
.register-btn {
  display: inline-block;
  padding: 0 10px;
  font-size: 12px;
  color: #4c4c4c;
  text-decoration: none;
}

.one {
  width: 200px;
  height: 360px;
  background-color: pink;
  margin: 30px;
}

@media (max-width: 600px) {
  .slogan {
    display: none;
  }
}
.footinf{
  font-family: 'HarmonyOS Sans SC Medium';
  text-align: center;
  font-size:12px;
  line-height: 20px;
}
@font-face {
  font-family: 'HarmonyOS Sans SC Medium';
  src: url('../res/HarmonyOS_Sans_SC_Medium.eot');
  src: url('../res/HarmonyOS_Sans_SC_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
  url('../res/HarmonyOS_Sans_SC_Medium.woff2') format('woff2'), /* modern browsers */
  url('../res/HarmonyOS_Sans_SC_Medium.woff') format('woff'), /* modern browsers */
  url('../res/HarmonyOS_Sans_SC_Medium.ttf') format('truetype'); /* Safari, Android, iOS */
  font-weight: medium;
  font-style: normal;
  }
  body{
    background-color:#F1F5F6;
  }
  *{
    padding: 0;
    margin: 0;
  }
