@media (max-width: 600px) {
    .slogan {
      display: none;
    }
  }
    .slideshow {
            width: 700px; /* 设置容器宽度 */
            height: 415px;  /*高度自适应内容 */
             position: relative;/*  相对定位，为了后面的子元素绝对定位 */
            overflow: hidden; /* 超出部分隐藏 */
            /* margin:10px 0; */
            display: inline-block;
            vertical-align: bottom;
        }
        
        .slide {
            display: none; /* 初始状态都不显示 */
            position: absolute; /* 绝对定位，使其在容器中移动 */
            top: 0;
            left: 0;
            width: 100%; /* 每张图片占据全屏宽度 */
            transition: transform 0.5s ease-in-out; /* 添加过渡效果 */
        }
        
        .slide img {
            width: 100%; /* 图片充满容器宽度 */
            height: auto; /* 保持比例 */
            vertical-align: bottom;
        }
        
        .active {
            display: block; /* 当前展示的图片显示 */
        }


        /*  */
        .box{
          width: 298px;
          height:415px;
          /* margin:0 10px; */
          background-color: #d9c9c9;
          display: inline-block;
      }
      .box img{
          width:100%;
      }
      .review{
          height:70px;
          padding:0 28px;
          margin-top: 30px;
          font-size:14px;
      }
      .appraise{
          font-size: 12px;
          /* height:30px; */
          margin-top:30px;
          padding:0 20px;
          color:#b0b0b0;
      }
      .info h4{
          display: inline-block;
      }
      .info{
          padding:10px 20px;
      }
      .info span{
          color:#ff6600;
      }
      .info em{
          font-style: normal;
          margin:0 5px 0 15px;
      }
      .MaxBox{
        width:1300px;
        height:600px;
        padding:0 250px;
        margin:20px;
        justify-content: center;
      }

      @media (max-width: 1050px) {
        .MaxBox {
          justify-content: flex-start;
        }
      }