
.banner{
    height: 421px;
    background-color: #9F2C15;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.blurbanner{
    z-index:1;
    filter:blur(20px);
    width:100%;
    flex:1;
    background-size: cover;
    animation: slideShowA 16s infinite;

}
.banner .w{
    z-index:2;
    width: 1200px;
    background-position:center;
    animation: slideShow 16s infinite;
    
}
.banner .w, .blurbanner{
    position:absolute;
    height: 421px;
    /* margin-top: 10px; */
}

@keyframes slideShow {
  0% {background: url('../res/new1.png') no-repeat top center;} /* 初始状态显示第一张背景图片 */
  25% {background: url('../res/new2.png') no-repeat top center;} /* 在动画进行到33%时切换到第二张背景图片 */
  75% {background: url('../res/new3.png') no-repeat top center;} /* 同理... */
  100% {background: url('../res/new1.png') no-repeat top center;} /* 最后返回第一张背景图片，形成循环 */
}
@keyframes slideShowA {
    0% {background: url('../res/new1_initial.png') no-repeat top center;} /* 初始状态显示第一张背景图片 */
    25% {background: url('../res/new2_initial.png') no-repeat top center;} /* 在动画进行到33%时切换到第二张背景图片 */
    75% {background: url('../res/new3_initial.png') no-repeat top center;} /* 同理... */
    100% {background: url('../res/new1_initial.png') no-repeat top center;} /* 最后返回第一张背景图片，形成循环 */
  }
.subnav{
    float:left;
    width: 190px;
    height:421px;
    background-color: rgba(0,0,0,0.5);
}
.subnav ul li a{
    font-size: 14px;
    color: #fff;
}
.subnav ul li{
    padding: 0 20px;
    height: 45px;
    line-height: 45px;
    list-style: none;
    user-select: none;
    -ms-user-select: none;
}
.subnav ul li a span{
    float: right;

}
.subnav ul li a:hover{
    color: #d43f21;
}
.course{
    float:right;
    margin-top: 50px;
    width: 230px;
    height: 300px;
    background-color: pink;
}
.course h2{
    height: 48px;
    background-color: pink;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
}
.bd{
    padding: 0 20px;
}
.bd ul li h4{
    font-size: 16px;
    color: #4e4e4e;
}
.bd ul li p{
    font-size: 12px;
    color:#a5a5a5;
}
.bd ul li{
    padding:14px 0;
    border-bottom:1px solid #ccc;
}
.bd .more{
    display: block;
    margin-top: 5px;
    height:38px;
    border:1px solid #d43f21;
    line-height: 38px;
    text-align: center;
    font-weight: 700;
    color:#d43f21;
    font-size: 16px;
}
  .goods{
    height:60px;
    background-color: #fff;
    margin: 0;
    margin-top: 20px;
    box-shadow: 0 2px 3px 3px rgba(0,0,0,0.1);
    line-height: 60px;
    color: #d43f21;
}
.goods h3{
    float:left;
   
    margin:0;
margin-left: 30px;
}
.goods ul{
    float: left;
    /* padding: 0; */
    margin:0;

}
.mod{
    float:right;
    margin-right: 30px;
    color: #c42d2d;
    text-decoration: none;
    font-size: 16px;
}
.goods ul li{
    float:left;
    margin-left: 30px;
}
.goods ul li a{
  text-decoration: none;
  color: #c42d2d;
}
.goods ul li a:hover{
  color: #c42d2d;
}
.goods ul li span{
    margin-left:20px;
}
/* box核心内容其余开始 */
.box {
  margin:0;
    margin-top: 30px;
}
.box-hd{
  margin-top: 10px;
    height: 45px;
    /* 加了下面一句 */
    margin-bottom: 20px;
    margin-left: -6px;
   
}
.box-hd h3 {
    float:left;
    font-size: 20px;
    color: #494949;
   margin:0;
}
.box-hd a{
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    margin-top: 10px;
}

  /* margin-right: 200px; */
  .box-bd{
    user-select: none;
    -ms-user-select: none;
    margin: 0 0 0 -6px;
  }
.box-bd ul{
   display: flex;
   /* 加了下面一句 */
   width: 1225px;
 flex-wrap:wrap;
    margin:0;
    padding:0;
}
.box-bd ul li{

   flex:0 0 calc(20%-15px);
    width: 230px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    position: relative;
    margin-bottom: 10px;
}
.box-bd ul li em{
    position: absolute;
    right: -4px;
    top: 4px;
    -webkit-user-drag:none;
    -khtml-user-drag:none;
    user-select: none;
    -moz-user-select:none;
    -ms-user-drag:none; 
}
.box-bd ul li>img{
    width: 100%;
    height: 150px;
    -webkit-user-drag:none;
    -khtml-user-drag:none;
    user-select: none;
    -moz-user-select:none;
    -ms-user-drag:none; 
}
.box ul li h4{
    margin :20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
    color: #050505;
}
.box .info{
    margin :20px 20px 20px 25px;
    font-size: 12px;
    color: #999;
}
.box .info span{
    color: #eb1717;
}   
     /* 内容居中 */   
.w{
  margin:0;
  width: 1200px;
  margin:auto;
}    
li{
list-style: none;
}
body{
margin-bottom: 0;
}

.manbox{
    margin: 0 0 0 -6px;
    width:300px;
    font-family: 'HarmonyOS Sans SC Medium';
  
}

.contact{
    
  
    line-height:50px;
    white-space:nowrap;
}

.snews ul{
    width: 1225px;
    margin:0;
    padding:0;
}
.snews ul li{
    float:left;
    width: 230px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;

    margin-bottom: 10px;
}
.snews ul li h4{
    margin :20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
}
.snews ul li img{
    width: 230px;
    height: 55%;
    }
.snews{
        
    
    margin-top: 30px;
          
    }
.sman{
   
    user-select: none;
    -ms-user-select: none;
    
}
.sman ul{
    width: 1225px;
    margin:0;
    padding:0;
}
.sman ul li{
    float:left;
    background: url(../res/logo_large.png) no-repeat top center;
    width: 1210px;
    height: 270px;
    background-color: #fff;
    margin-bottom:50px;
    text-align: center;
    margin-bottom: 10px;
}

.sman ul li h4{
    vertical-align: bottom;
    margin :20px 20px 20px 25px;
    font-size: 14px;
    font-weight: 400;
    }

.sman ul li img{
    width: 230px;
    height: 55%;
    }

.sman{
            
    margin:0;
    margin-top: 30px;
              
    }


.blanket
{width:100%;
}

.contact{
    font-family: 'HarmonyOS Sans SC Medium';
    padding-left:auto;
    display:inline-flex;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
  
}

.endline:not(h2,h3){
    background-color: rgb(61, 61, 61); 
    color:#fff;
    display: grid;
    justify-content: center;
    margin-top:425px;
    
}

.contact li{
    line-height: 45px;
    margin: 0 315px 0 315px;

}
#lul{

    justify-content: flex-start;
}
#rul{

    justify-content: flex-end;
}
.endline a{
    background-color: rgb(61, 61, 61); 
    color:#fff;
}
.contact h2{
    margin-left:auto;
}

.contus{
    margin-left:210px;
    margin-bottom: 12px;
}