h1 {
    color: #9F2C15;
    font-size: 30px;
    font-family: 'HarmonyOS Sans SC Medium';
    font-weight: 700;
    background-image: url(../res/logo.png);
    background-repeat: no-repeat;
    background-position: 20px 5px;
    text-indent: 2em;
    display: inline-block;
  }
  
  .nav {
    height: 41px;
    border-top: 3px solid #9F2C15;
    border-bottom: 1px solid #edeef0;
    background-color: #fcfcfc;
    line-height: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -ms-user-select: none;
  }
  .upper {
    overflow-x: auto;
    position: sticky;
    top:0;
    z-index:100;
    background:#fff;
    overflow: hidden;
  }
  .nav a.active {
    background-color: #9F2C15; /* 设置背景颜色为红色 */
    color: #fff; /* 设置文本颜色为白色 */
  }
  .nav a {
    display: inline-block;
    padding: 0 20px;
    font-size: 12px;
    font-family: 'HarmonyOS Sans SC Medium';
    color: #4c4c4c;
    text-decoration: none;
    margin:0 45px;
  }
  @media (max-width: 1050px) {
    .nav {
      justify-content: flex-start;
    }
  }
  body{
    overflow-x:hidden
}
  /* .recent{
    overflow-x:scroll ;
  } */
  .nav a:hover {
    color: #9F2C15;
    background-color: #e0c2c2;
  }
  
  .logo {
    height: 70px;
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    user-select: none;
    -ms-user-select: none;
  }
  
  .logo a {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    font-family: 'HarmonyOS Sans SC Medium';
    color: #4c4c4c;
    text-decoration: none;
    
  }
  
  .logo a:hover {
    color: #9F2C15;
    background-color: #c4c1c1;
  }
  
  .logo span {
    flex-grow: 1;
  }
  
  .login-btn,
  .register-btn {
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
    color: #4c4c4c;
    text-decoration: none;
  }
  
  .one {
    width: 200px;
    height: 360px;
    background-color: pink;
    margin: 30px;
  }
  .mdui-textfield{
    user-select: none;
    -ms-user-select: none;
  }
  @media (max-width: 600px) {
    .slogan {
      display: none;
    }
  }
  .footinf{
    font-family: 'HarmonyOS Sans SC Medium';
    text-align: center;
    font-size:12px;
    line-height: 20px;
  }
  @font-face {
    font-family: 'HarmonyOS Sans SC Medium';
    src: url('../res/HarmonyOS_Sans_SC_Medium.eot');
    src: url('../res/HarmonyOS_Sans_SC_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../res/HarmonyOS_Sans_SC_Medium.woff2') format('woff2'), /* modern browsers */
    url('../res/HarmonyOS_Sans_SC_Medium.woff') format('woff'), /* modern browsers */
    url('../res/HarmonyOS_Sans_SC_Medium.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: medium;
    font-style: normal;
    }
    body{
      background-color:#F1F5F6;
    }
.newsblock .leftbanner{
  position: sticky;
  top: 100px;
  left: 250px;
  width: 250px;
  height:700px;
  display: inline-block;
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body{
  background-color:#F1F5F6  !important;
}
.newsblock{
  display:inline-flex;
    margin:-500px 150px;
    font-family: 'HarmonyOS Sans SC Medium';
    position: relative;
    margin-bottom: 20px;
}

.newsblock p{
    margin:15px 55px;
    list-style-position:inside;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  
    justify-content: flex-start;
    text-align:start;
  }
  .newsblock h2{
    margin:0 25px;
  }
  .anews_left li {
width: 80%;
display: inline-block;
height: auto;
overflow: hidden;
padding-bottom: 16px;
padding-top: 35px;
border-bottom: 1px solid #ffffff;

}
.newsitem {
display: flex;
align-items: center;
border-bottom: 1px solid #ffffff;
padding: 10px;
margin-top:12px;
margin-left:10px;
}
.newsitem a {
font-weight: bold;
color: #333;
text-decoration: none;
}

.anews_left_y {
display: flex;
margin-top: 10px;
}

.anews_left_left img {
width:161.59px;
height:124.89px;
height: auto;
}
.anews_left_left {
max-width:40%;
/* width: 300px; */

}
.anres_left_right {
margin-left: 400px;
}

li{
list-style-type:none;
}


.anres_left_right p {
margin: 0;
line-height: 1.5;
}

.anres_left_right a {
color: #9F2C15;
text-decoration: none;
}

.leftbanner a{
color: #9F2C15;
text-decoration: none;
}


.leftbanner ul{
border-bottom: 1px solid #ffffff;
}
.leftbanner li{
line-height:32px;
width: 180px;
}
.leftbanner .mdui-textfield{
  width:225px;
}
.leftbanner li a{
  width:225px;
}
.recent{
display:inline-block;
width:1050px;
justify-content: start;
vertical-align:top;

}
.breakingnews{
  margin-left:100px;
}
.recent li{
  margin-bottom:15px;
}

.recent li img{
  margin-left:25px;
  margin-bottom:15px;
  -webkit-user-drag:none;
  -khtml-user-drag:none;
  user-select: none;
  -moz-user-select:none;
  -ms-user-drag:none; 
}
.li {
text-align: -webkit-match-parent;

}
.footer{
display:inline;
position:absolute;
bottom:0;
}
/* .recent ul li{
height: 200px;
} */